// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$olive-green: #81b61f;

$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #7c7c7c;

$logo-blue: #65A6E7;
$logo-green: #D8F47D;
$brown: #EE964B;
$black: #051014;
$pink: #D90368;
