.dashboard-right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


// graphs are not responding to my cscc code

// .graph-box {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }
