.dashboard-right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
