// Specific CSS for your home-page

.home-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-greeting {

}

.day-goal {

}

hr.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
}

.modal {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding-top: 50px;
  left: 550px;
  top: 250px;
  background-color: $pink;
  border-radius: 10px;
}
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4;
  border-radius: 10px;
}
.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modal-btn {
  margin-top: 15px;
  background-color: $pink;
  border-radius: 10px;
}
