// Specific CSS for your home-page
.home-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-greeting {

}

.day-goal {
  font-family: "Josefin Sans", "sans-serif";
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  .edit_daily_status {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-control {
    width: 240px;
  }
}

#daily_status_title {
  border-radius: 8px;
}

.daily_status_daily_goal {
  margin-bottom: 0;
}



#goal {
  input{
  color: $pink;
  font-weight: bold;
  width: 240px;
}
}

hr.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
}

.weather{
padding: 10px;
justify-content: center !important;
border-radius: 8px;
text-align: center !important;
background-color: $white;
color: $pink;
margin-bottom: 15px;
font-size: 20px;
}
.card-goal2 {
padding-top: 25px;
padding-bottom: 15px;
justify-content: center;
border-radius: 8px;
text-align: center;
background-color: $white;
color: $pink;
margin-bottom: 15px;
}
.simple-calendar {

  .day {
    color: $pink;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

  .today {
    background: #D8F47D !important;
  }

.table thead th {
  text-align: center !important;
  }


  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}



