// Specific CSS for your home-page
.home-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-greeting {

}

.day-goal {

}

hr.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
}


.simple-calendar {
  .header{
    text-align: center;
  }
  .day {
    color: $pink;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
