<div>
  <h1>Your colleagues</h1>
    <div class="event-box">
      <div class="col-5">
        <h5>Office Berlin</h5>
        <p></p>
        <h5>Home Office</h5>
        <p></p>
        <h5>Kölln Office</h5>
        <p></p>
      </div> 
    </div> 
</div>