<div>
  <h1>Where are my colleagues today?</h1>
    <div class="centered-box">
      <div class="card-trip-grid">
          <div class="card-trip-infoss">
            <div>
              <h5>Office Berlin</h5>
              <% @berlin_office.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, height: 40, class: "avatar" %>
              <%  end %>
            </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Home Office</h5>
              <% if @home_office.empty? %>
               <p> No one is working at home! </p>
              <% else %>
                <% @home_office.take(5).each do |user| %>
                <%= cl_image_tag user.photo.key, height: 40, class: "avatar" %>
                <%  end %>
              <% end %>
          </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Kölln Office</h5>
              <% @kölln_office.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, height: 40, class: "avatar" %>
              <%  end %>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="menu-right menu col-3">
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>
