<div>
  <h1>Where are my colleagues?</h1>
    <div class="centered-box">
      <div class="card-trip-grid">
          <div class="card-trip-infoss">
            <div>
              <h5>Office Berlin</h5>
              <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
              <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
            </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Home Office</h5>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
          </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Kölln Office</h5>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/random"/>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="menu-right menu col-3">
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>
