<h1>Our first view 🚀</h1>

<div class="container center">
  <div> Your colleagues </div>
  <h1>Your colleagues</h1>
    <div class="container show-container">
        <div class="col-5">
          <h5>Office Berlin</h5>
          <p></p>
          <h5>Home Office</h5>
          <p></p>
          <h5>Kölln Office</h5>
          <p></p>
        </div>  
    </div>
  </div>  
</div>