<div>
  <h1>Your colleagues</h1>
    <div class="centered-box">
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Office Berlin</h5>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Home Office</h5>
          </div>
        </div>
      </div>
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Kölln Office</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
    <div class="card-category">
      Breakfast
    </div>
    <div class="card-category">
      Lunch
    </div>
    <div class="card-category">
    </div>
  </div>
</div>