<div>
  <h1>Your colleagues</h1>
    <div class="centered-box">
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Office Berlin</h5>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Home Office</h5>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="card-trip1">
        <div class="card-trip-infoss">
          <div>
            <h5>Kölln Office</h5>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
  </div>
</div>