<div class="menu-left menu col-3">
  <ul>
    <li>
      <a href="#" class="menu-item"> My Calendar </a>
    </li>
    <li>
      <a href="#" class="menu-item"> Colleagues </a>
    </li>
    <li>
      <a href="#" class="menu-item"> Teams </a>
    </li>
    <li>
      <a href="#" class="menu-item"> Events </a>
    </li>
  </ul>
</div>
