<div class="menu col-3">
  <ul>
    <li>
      <a href="#" class="menu-item">Home</a>
    </li>
    <li>
      <a href="#" class="menu-item">My Calendar</a>
    </li>
    <li>
      <a href="#" class="menu-item">Employee Directory</a>
    </li>
    <li>
      <a href="#" class="menu-item">Offices</a>
    </li>
    <li>
      <a href="#" class="menu-item"> Teams </a>
    </li>
    <li>
      <a href="#" class="menu-item"> Events of today </a>
    </li>
  </ul>
</div>
