<div class="box">
  <h1>Welcome <%#= @user.first_name %></h1>
  <p>Find me in app/views/pages/home.html.erb</p>
   <!-- events -->
  <div class="centered-box">
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content">
        <p><small>14th January</small></p>
        <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
      </div>

      <div class="notification-actions">
        <a href="#">Decline</a>
        <a href="#">Join></a>
      </div>
    </div>

    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <p><small>9th January</small></p>
        <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
      </div>
      <div class="notification-actions">
        <a href="#">Decline</a>
        <a href="#">Join</a>
      </div>
    </div>
    <a class='btn btn-large blue'></a>
  </div>
</div>
