<h1>Welcome <%#= @user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>



<div class="container flex-box">
  <div class="row justify-inline-block">
    <%= render 'shared/menu' %>
    <!-- events -->
    <div class="box container col-9">
     <%= month_calendar do |date| %>
     <%= date %>
    <% end %>
    </div>
  </div>
</div>
