<div class="box container col-9">
    <div class="centered-box">
        <%= month_calendar do |date| %>
        <%= date %>
        <% end %>
    </div>
</div>

<div class="menu-right menu col-3">
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>
