<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container-home">

  <a href="#" class="btn btn-large">Button</a>
  <br>
  <br>
  <a href="#" class="btn btn-medium">Button</a>
  <br>
  <br>
  <a href="#" class="btn btn-small">Button</a>
</div>
