<div class="box">
  <div class="centered-box">

  <h1>HI, I'm your dashboard</h1>

  </div>


</div>

<div class="menu-right menu col-3">
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>
