.box {
  border-radius: 4px;
  background-color: $logo-green;
  padding: 15px;
}

.box-items {
  padding: 10px;
  flex-grow: 1;
  padding: 15px;
}

.menu-right {
  background-color: $logo-green;
  width: 30%;
}

