* {
  box-sizing:border-box;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius:10px;
  width:100%;
}

input, textarea {
  font-family:inherit;
  font-size: inherit;
}

#event_start_time {
  border-radius: 8px;
}

#event_end_time {
  border-radius: 8px;
}

#event_invitee_id {
  border-radius: 8px;
}

#event_title {
  border-radius: 8px;
}

#event_content {
  border-radius: 8px;
}

// input:required + span:after {
//   content: "Required";
// }
