.menu-cards {
padding-top: 25px;
padding-bottom: 15px;
justify-content: center;
border-radius: 8px;
text-align: center;
background-color: $white;
margin-bottom: 15px;
}

.latest-events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  background-color: #B6CADD;
}
