.menu-container {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.menu {
  background-color: $brown;
  color: white;
  margin: 15px;

  margin-top: 60px;
  width: 30%;
  border-radius: 2px;
  height: fit-content;
  }

.menu ul {
  list-style-type: none;
  padding: 20px;
}

.menu-item {
  color:white;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: none;
  color: $pink;
}
