.menu-cards {
padding-top: 25px;
padding-bottom: 15px;
justify-content: center;
border-radius: 8px;
text-align: center;
background-color: $white;
margin-bottom: 15px;
}

.latest-events {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  background-color: #B6CADD;


}

.todays-events {


  a {
    color: $black !important;

  }
}

.main-container > .menu-right.menu.col-sm-3.col-xl-2 > .menu-cards > a > p {
  color: $black !important;
  font-weight: 300!important;
}


.menu-cards {
  a {
    p {
      color: $black !important;
    }
  }
}
