.menu {
  background-color: $brown;
  color: white;
  margin: 8px;
  width: 200px;
  border-radius: 2px;
}

.menu ul {
  list-style-type: none;
  padding: 20px;
}

.menu-item {
  color:white;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: none;
  color: $pink;
}
