.navbar-collapse {
  flex-grow: 0;
}

.navbar-teamdr .navbar-brand img {
  width: 40px;
  height: 40px;
}

.dropdown-menu {
  box-shadow: 0 0 50px -15px $gray;
  border-radius: 10px;
  cursor: pointer;
}

.navbar {
  padding: 0 30px;
  background: $logo-blue;
  display: flex;
}

.navbar-expand-sm {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.modal {
  text-align: center;
  display: none;
  width: 300px;
  height: 250px;
  position: absolute;
  left: 42%;
  top: 25%;
  padding-top: 10px;
  background-color: white;
  border-radius: 4px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4;
  animation-timing-function: ease-out;
}

.modal h6 {
  color: $pink;
  font-weight: bold;

}

.modal p {
  font-size: 14px;
}


.modal-content {
  color: white !important;
  font-weight: 500;
  position: relative;
  background-color: $logo-blue;
  padding: 20px;
  margin: auto;
  margin-bottom: 60px;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4;
  animation-timing-function: ease-out;
  border-radius: 10px;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  display: none;
}

.rating-stars-container {
  padding-left: 50px;
}

.rating-star{
  color: $logo-green;

}
.rating-star:hover {
  transition: 0.3s all;
  text-shadow: 0px 2px 0 #000, 0 -1px 0

}

.close-btn {
  position: absolute;
  top: 1px;
  right: 10px;
  color: $pink;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


