.navbar-collapse {
  flex-grow: 0;
}

.navbar-teamdr .navbar-brand img {
  width: 40px;
  height: 40px;
}

.dropdown-menu {
  box-shadow: 0 0 50px -15px $gray;
  border-radius: 10px;
}

.navbar {
  padding: 0 30px;
  background: $logo-blue;
  display: flex;
}

.navbar-expand-sm {
  flex-flow: row nowrap;
  justify-content: space-between;
}
