.navbar-teamdr {
  justify-content: space-between;
  background: $logo-blue;
}

.navbar-teamdr .navbar-collapse {
  flex-grow: 0;
}

.navbar-teamdr .navbar-brand img {
  width: 40px;
  height: 40px;
}

.dropdown-menu {
  box-shadow: 0 0 50px -15px $gray;
  border-radius: 10px;
}
